<h1>Listing bbs</h1>

<table>
  <thead>
    <tr>
      <th>Questurl</th>
      <th>Questname</th>
      <th>Questlevel</th>
      <th>Questmessage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bbs.each do |bb| %>
      <tr>
        <td><%= bb.QuestURL %></td>
        <td><%= bb.QuestName %></td>
        <td><%= bb.QuestLevel %></td>
        <td><%= bb.QuestMessage %></td>
        <td><%= link_to 'Show', bb %></td>
        <td><%= link_to 'Edit', edit_bb_path(bb) %></td>
        <td><%= link_to 'Destroy', bb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bb', new_bb_path %>
